@font-face {
  font-family: 'Vazirmatn';
  src: url('/font/Vazirmatn-VariableFont.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
}
